<section class="min-h-screen items-center flex flex-col bg-black text-white px-4 py-8">
  <div class="items-center justify-center">
    <h1 class="text-2xl font-bold text-white mb-8 text-center">ACERCA</h1>
  </div>
  <div class="max-w-3xl text-center justify-center space-y-6 text-base md:text-lg leading-relaxed">
    <p>
      NOT HUMANS es un universo diverso liderado por seis mujeres con una fuerza única y un sueño compartido:
      transformar el arte en una experiencia que trasciende lo humano.
    </p>
    <p>
      Nacemos de la pasión por lo cósmico, lo ancestral y lo desconocido. Somos una constelación de personalidades,
      estilos y visiones que convergen en un mismo espacio para fusionar danza, música y expresión, dando vida a una
      estética que refleja quiénes somos: auténticos, diferentes, conectados.
    </p>
    <p>
      En NOT HUMANS, celebramos lo que nos hace únicos y abrazamos lo que alguna vez fue considerado raro,
      fuera de lugar o “demasiado”. Nuestro arte es un refugio para quienes se han sentido ignorados,
      invisibles o incomprendidos.
    </p>
    <p>
      Queremos que sepas que estar fuera de esta órbita no solo está bien…<br>
      <span class="font-bold italic">es lo más fantástico que puedes ser.</span>
    </p>
  </div>
</section>
