<nav class="bg-black">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between items-center">
      <!-- Logo -->
      <div class="flex-shrink-0 flex items-center">
        <img class="h-8 w-auto" src="assets/alien.png" alt="Your Company">
      </div>

      <!-- Botón menú hamburguesa -->
      <div class="flex sm:hidden">
        <button (click)="isMenuOpen = !isMenuOpen" type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none"
          aria-controls="mobile-menu" aria-expanded="false">
          <svg *ngIf="!isMenuOpen" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg *ngIf="isMenuOpen" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Menú desktop -->
      <div class="hidden sm:ml-6 sm:flex sm:space-x-4">
        <a routerLink="/" routerLinkActive="bg-gray-700 text-white" [routerLinkActiveOptions]="{ exact: true }"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
        <a routerLink="/productos" routerLinkActive="bg-gray-700 text-white"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Carta</a>
        <a routerLink="/clases" routerLinkActive="bg-gray-700 text-white"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Clases</a>
        <a routerLink="/eventos" routerLinkActive="bg-gray-700 text-white"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Eventos</a>
        <a routerLink="/acerca" routerLinkActive="bg-gray-700 text-white"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Acerca</a>
      </div>
    </div>
  </div>

  <!-- Menú mobile -->
  <div *ngIf="isMenuOpen" class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a routerLink="/" routerLinkActive="bg-gray-700 text-white" [routerLinkActiveOptions]="{ exact: true }"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium">Inicio</a>
      <a routerLink="/productos" routerLinkActive="bg-gray-700 text-white"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium">Carta</a>
      <a routerLink="/clases" routerLinkActive="bg-gray-700 text-white"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium">Clases</a>
      <a routerLink="/eventos" routerLinkActive="bg-gray-700 text-white"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium">Eventos</a>
      <a routerLink="/acerca" routerLinkActive="bg-gray-700 text-white"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-base font-medium">Acerca</a>
    </div>
  </div>
</nav>
