<section class="min-h-screen flex flex-col bg-black text-white px-4 py-8">
  <div class="items-center justify-center">
    <h1 class="text-2xl font-bold text-white mb-8 text-center">CLASES</h1>
  </div>
  <div class="items-center justify-center flex flex-col">
    <div class="flex flex-col md:flex-row gap-12">

      <!-- Flyer Miércoles -->
      <div class="flex flex-col items-center bg-black rounded-lg text-center">
        <h3 class="text-green-500 text-3xl md:text-5xl font-extrabold mb-2">MIÉRCOLES</h3>
        <img src="assets/salsa.jpg" alt="Alien DJ" class="w-24 md:w-32 mb-4 rounded-full">
        <h4 class="text-green-500 text-xl md:text-2xl font-bold mb-4">CLASES</h4>
        <p class="text-l md:text-xl font-semibold text-gray-200 mb-2">BACHATA</p>
        <p class="text-m md:text-l text-green-500 mb-4">4:20PM — 6:20PM</p>
        <p class="text-l md:text-xl font-semibold text-gray-200 mb-2">SALSA</p>
        <p class="text-m md:text-l text-green-500">6:20PM — 8:00PM</p>
        <a href="#/reservas"
          class="inline-block bg-green-600 hover:bg-green-800 text-white px-6 py-3 rounded-full uppercase tracking-wider transition mt-4">
          Reservar
        </a>
      </div>

      <!-- Flyer Jueves -->
      <div class="flex flex-col items-center bg-black rounded-lg text-center">
        <h3 class="text-green-500 text-3xl md:text-5xl font-extrabold mb-2">JUEVES</h3>
        <img src="assets/Urbano.jpg" alt="Alien DJ" class="w-24 md:w-32 mb-4 rounded-full">
        <h4 class="text-green-500 text-xl md:text-2xl font-bold mb-4">CLASES</h4>
        <p class="text-l md:text-xl font-semibold text-gray-200 mb-2">URBANO</p>
        <p class="text-m md:text-l text-green-500 mb-4">5:00PM — 7:00PM</p>
        <a href="#/reservas"
          class="inline-block bg-green-600 hover:bg-green-800 text-white px-6 py-3 rounded-full uppercase tracking-wider transition mt-4">
          Reservar
        </a>
      </div>

      <div class="flex flex-col items-center bg-black rounded-lg text-center">
        <h3 class="text-green-500 text-3xl md:text-5xl font-extrabold mb-2">DOMINGO</h3>
        <img src="assets/merengue.jpg" alt="Alien DJ" class="w-24 md:w-32 mb-4  rounded-full">
        <h4 class="text-green-500 text-xl md:text-2xl font-bold mb-4">CLASES</h4>
        <p class="text-l md:text-xl font-semibold text-gray-200 mb-2">MERENGUE</p>
        <p class="text-m md:text-l text-green-500 mb-4">12:00M — 2:00PM</p>
        <a href="#/reservas"
          class="inline-block bg-green-600 hover:bg-green-800 text-white px-6 py-3 rounded-full uppercase tracking-wider transition mt-4">
          Reservar
        </a>
      </div>
    </div>
  </div>
</section>
