<section class="min-h-screen bg-black text-white px-4 py-8">
  <div class="items-center justify-center">
    <h1 class="text-2xl font-bold text-white mb-8 text-center">EVENTOS</h1>
  </div>
  <!-- Contenedor tipo collage -->
  <div class="flex flex-col md:flex-row items-center justify-end gap-8 max-w-6xl mx-auto">
    <!-- Imagen del evento (o video) -->
    <div class="md:w-1/4 flex mt-0 pt-0">
      <!-- <img src="assets/mapa.jpeg" alt="Mapa Not Humans" class="w-full max-w-md rounded-lg shadow-lg object-cover" /> -->
      <video class="w-full max-w-md rounded-lg shadow-lg" autoplay loop muted playsinline>
        <source src="assets/videoevento.mp4" type="video/mp4">
        Tu navegador no soporta videos.
      </video>

    </div>
    <!-- Texto -->
    <div class="md:w-1/2 space-y-6 text-base md:text-lg leading-relaxed text-justify">
      <p>
        ¡Vive la música que amas en Not Humans! Organizamos eventos especiales para todos los géneros, con invitados
        exclusivos, donde podrás bailar, cantar y disfrutar con amigos, familia, pareja y demás.
      </p>
      <p>
        Recuerda: en Not Humans los diversos gustos y formas de expresión son una inspiración para nosotros y una
        oportunidad para cultivar la importancia de la diversidad.
      </p>
      <p>
        <strong>¡Reserva ya y no te pierdas la diversión!</strong>
      </p>
      <img src="assets/mapa.jpeg" alt="Mapa Not Humans"
        class="w-full max-w-xs md:max-w-sm lg:max-w-md h-auto md:max-h-60 rounded-lg shadow-lg object-cover mx-auto" />
    </div>
  </div>
</section>
