@tailwind base;
@tailwind components;
@tailwind utilities;

* {
font-family: "Abril Fatface", sans-serif !important;
}

body {
  @apply bg-white text-black;
  background-color: black;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
