<section class="relative flex items-center justify-center min-h-screen bg-black text-white overflow-hidden">
  <!-- Fondo de estrellas -->
  <div class="absolute inset-0 bg-[url('/assets/stars.png')] bg-repeat opacity-30"></div>

  <!-- Humo o overlay oscuro -->
  <div class="absolute inset-0 bg-black/70"></div>

  <!-- Contenido principal -->
  <div class="relative z-10 text-center px-4 bottom-32 md:bottom-20">
    <h1 class="text-4xl md:text-7xl font-extrabold mb-4 neon-text">NOT HUMANS</h1>
    <p class="text-lg md:text-2xl mb-8">Bienvenido a la experiencia underground que rompe el sistema.</p>
    <a href="#/productos"
      class="inline-block bg-green-600 hover:bg-green-800 text-white px-6 py-3 rounded-full uppercase tracking-wider transition">
      Ver Cócteles
    </a>
  </div>
  <img src="assets/logo.png" alt="Cóctel" class="absolute bottom-32 md:bottom-20 right-4 w-40 md:w-72 opacity-80" />
</section>
