<section class="relative flex flex-col items-center justify-start min-h-screen bg-black text-white overflow-hidden">
  <video [autoplay]="true" [muted]="true" [loop]="true" playsinline class="absolute inset-0 w-full h-full object-cover">
    <source src="https://video.wixstatic.com/video/0f1624_f617300cbadc4f9f870c5bf271e2d61a/720p/mp4/file.mp4"
      type="video/mp4" />
    Tu navegador no soporta videos HTML5.
  </video>

  <div class="absolute inset-0 bg-[url('/assets/stars.png')] bg-repeat opacity-20"></div>

  <div class="absolute inset-0 bg-black/80"></div>
  <div class="relative z-10 flex flex-col items-center text-center px-4 py-12 gap-y-8">
    <h1 class="text-4xl md:text-5xl font-extrabold neon-text">NOT HUMANS</h1>
    <img src="assets/alien-realista.png" alt="Cóctel" class="w-60 md:w-72 opacity-80" />
    <a href="#/acerca"
      class="inline-block bg-green-600 hover:bg-green-800 text-white px-6 py-3 rounded-full uppercase tracking-wider transition">
      Acerca
    </a>
  </div>
</section>
